<a class="room-list-item" href="http://localhost:3000" style="text-decoration: none; color:inherit">
    <div class="room-info">
        <div class="team-image-container">
            <img src="https://picsum.photos/200/300" alt="" class="team-logo">
        </div>
        <div class="team-other-info">
            <h5 class="team-title">{{ title }}</h5>
            <p class="no-of-members">{{ no_of_members }} members</p>
        </div>

    </div>
    {#    <br>#}
    {#    <div class="room-member-preview">#}
    {#        <div class="room-member-image-container">#}
    {#            <img src="https://picsum.photos/200/300" alt="" class="room-member-image-sm">#}
    {#        </div>#}
    {#        <div class="room-member-image-container">#}
    {#            <img src="https://picsum.photos/200/300" alt="" class="room-member-image-sm">#}
    {#        </div>#}
    {#        <div class="room-member-image-container">#}
    {#            <img src="https://picsum.photos/200/300" alt="" class="room-member-image-sm">#}
    {#        </div>#}
    {#        <div class="plus-more-members">#}
    {#            +2#}
    {#        </div>#}
    {#    </div>#}
</a>