<div class="rooms-list-wrapper">
    <div class="list-header">
        <div class="info">
            <h5>All Rooms</h5>
            <span>12 rooms</span>

        </div>
        <div class="actions">
            <button class="header-action-button">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="room-list-container">
        {% include 'partials/dashboard/room_list_item.html' with title="Team Up" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="Caption Generator" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="Caption Generator" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="Caption Generator" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="Mood Music Player" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="Mood Music Player" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="Mood Music Player" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="Mood Music Player" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="New IC Tech" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="New IC Tech" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="New IC Tech" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="New IC Tech" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="New IC Tech" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="New IC Tech" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="New IC Tech" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="New IC Tech" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="New IC Tech" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="New IC Tech" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="New IC Tech" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="New IC Tech" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="New IC Tech" no_of_members=21 %}
        {% include 'partials/dashboard/room_list_item.html' with title="New IC Tech" no_of_members=21 %}
    </div>
</div>
