*.pyc
.idea/
/src/formpack/
credentials.json
celerybeat-schedule
celerybeat.pid
static/compiled/
node_modules/
package-lock.json
.DS_Store
.bash_history
core/__pycache__/

core/static/compiled
core/static/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*
media/
static/webpack_bundles
static/webpack-stats.json
