{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<body>
{% block content %}
        <div class="row"></div>
            {% for individual in info_list %}
                <div class="col"></div>
        <div class="card" style="width: 18rem;">
            <img src="{{individual.photo}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ individual.first_name}} {{ individual.last_name }}</h5>
                <p class="card-text">{{ individual.remarks }}
                    </p>
                <a href="#" class="btn btn-primary">Open Profile</a>
  </div>
            {% endfor %}
</div>
{% endblock %}

</body>
</html>